<template>
  <div class="search">
    <!--  -->
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { api } from '@/api'

export default defineComponent({
  name: 'search',

  setup() {

    const test = async () => {
      const response = await api.get('/search', {
        paramsw: {
          q: 'apollo',
          description: 'moon landing',
          media_type: 'image',
        },
      })

      return response
    }

    test()
  },
})
</script>
