html { background: #26282f; }

.app__init {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 80%;
  max-width: 320px;
}

.app__init-logo {
  height: 206px;
  width: 100%;
  object-fit: contain;
}
