<template>
  <template v-if="isNavigationRendered">
    <div class="app__container">
      <div class="app__main-content">
        <div class="app__main">
          <router-view />
        </div>
      </div>
    </div>
  </template>
  <template v-else>
    <router-view />
  </template>
</template>

<script lang="ts">
import { useRoute } from 'vue-router'
import { computed, defineComponent, ref } from 'vue'
import { CONFIG } from '@/config'

export default defineComponent({
  name: 'app',

  setup () {
    const route = useRoute()
    const isAppInitialised = ref(false)
    const isNavigationRendered = computed(
      () => route.matched.some(r => r.meta.isNavigationRendered),
    )

    const initApp = () => {
      isAppInitialised.value = true
      document.title = CONFIG.APP_NAME
    }

    initApp()

    return { isNavigationRendered }
  },
})
</script>

<style lang="scss" scoped>
@import '~@scss/variables';
</style>
