@import 'global-variables';
@import 'variables';
@import '../../node_modules/nprogress/nprogress.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &:focus { outline: none; }
}

body,
input,
select,
button,
textarea {
  background-color: var(--col-app-bg);
  color: var(--col-text);
  font-family: var(--app-font);
  font-weight: 400;
  letter-spacing: 0.02rem;
}

textarea,
button,
select,
input,
body,
span,
p { 
  font-size: 1.5rem;
  line-height: 1.6;
}

h1 {
  font-size: 2.734rem;
  line-height: 1.17;
  font-weight: 700;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  cursor: pointer;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

body, p, li, ul { color: var(--col-text); }

html {
  font-size: 10px;
  overflow: auto !important;
  -webkit-overflow-scrolling: touch !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;

  &,
  & main { background-color: var(--col-app-background); }

  & ul,
  li { list-style-type: none; }
}

#nprogress {
  z-index: 120;
  top: 0;
  width: 100%;
  position: fixed;

  .bar {
    // !importants are for overwrite nprogress’ styles
    background: var(--col-primary) !important;
    height: 0.3rem !important;
  }
}