@import 'variables';

:root {
  --app-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --col-primary: #{$_chathamsBlue};
  --col-app-bg: #{$_shark};

  --col-text: #{$_white};
}